<form>
  <div class="flix-control">
    <div class="flix-select">
      <label class="flix-select__label flix-label" for="select-valid">Station</label>
      <select id="select-valid" class="flix-select__field">
        <option>Select a station</option>
        <option value="1">Germany</option>
        <option value="2">France</option>
        <option value="3">Austria</option>
        <option value="4">The Netherlands</option>
      </select>
    </div>
  </div>
  <div class="flix-control">
    <div class="flix-select">
      <!-- flix-select--valid -->
      <!-- flix-select--valid -->
      <label class="flix-select__label flix-label" for="select-valid">Bus Type</label>
      <select id="select-valid" class="flix-select__field">
        <option>Select a bus type</option>
        <option value="1">Germany</option>
        <option value="2">France</option>
        <option value="3">Austria</option>
        <option value="4">The Netherlands</option>
      </select>
    </div>
  </div>
  <div class="flix-control">
    <div class="flix-input">
      <label class="flix-label flix-input__label" for="message">Bus Number</label>
      <input type="text" id="message" class="flix-input__field" placeholder="Type the plate number" />
    </div>
  </div>
  <div class="flix-control">
    <button type="button" class="flix-btn flix-btn--primary">Register bus</button>
  </div>
</form>
