<form [formGroup]="busForm" (ngSubmit)="submitForm()">
  <div class="flix-control">
    <div class="flix-select" [ngClass]="{
      'flix-select--error': busForm.get('stationId').touched && busForm.get('stationId').invalid,
      'flix-select--valid': busForm.get('stationId').touched && busForm.get('stationId').valid
    }">
      <label class="flix-select__label flix-label" for="select-valid">Station</label>
      <select formControlName="stationId" id="select-valid" class="flix-select__field">
        <option [value]="null">Select a station</option>
        <option *ngFor="let station of stationList" [disabled]="!station.availableSlots" [value]="station.id">
          Station {{ station.id }} {{ !station.availableSlots ? '- Full' : ''}}
        </option>
      </select>
    </div>
  </div>
  <div class="flix-control">
    <div class="flix-select" [ngClass]="{
        'flix-select--error': busForm.get('type').touched && busForm.get('type').invalid,
        'flix-select--valid': busForm.get('type').touched && busForm.get('type').valid
      }">
      <label class="flix-select__label flix-label" for="select-valid">Bus Type</label>
      <select formControlName="type" id="select-valid" class="flix-select__field">
        <option [value]="null">Select a bus type</option>
        <option *ngFor="let type of busTypes" [value]="type">{{ type }}</option>
      </select>
    </div>
  </div>
  <div class="flix-control">
    <div class="flix-input" [ngClass]="{
      'flix-select--error': busForm.get('plate').touched && busForm.get('plate').invalid,
      'flix-select--valid': busForm.get('plate').touched && busForm.get('plate').valid
    }">
      <label class="flix-label flix-input__label" for="input-bus-plate">Bus Plate</label>
      <input type="text" formControlName="plate" id="input-bus-plate" class="flix-input__field" placeholder="Type the bus plate. Eg: BUS-XXX-XXX" />
    </div>
  </div>
  <div class="flix-control">
    <app-button [loading]="isLoading">Register bus</app-button>
  </div>
</form>
