<div class="flix-grid">
  <div class="flix-col-12 flix-col-4-sm">
    <h4 class="flix-h4 flix-h4--section-header">Add a new bus</h4>
    <div class="flix-box">
      <app-bus-form [busTypes]="busTypes" [isLoading]="isLoadingRegisterBus" (busFormSubmit)="registerBus($event)" [stationList]="stationList"></app-bus-form>
    </div>
  </div>

  <div class="flix-col-12 flix-col-8-sm">
    <h4 class="flix-h4 flix-h4--section-header">Bus list</h4>
    <div class="flix-box" *ngIf="!isLoadingList && !isLoadingStations; else loadingTemplate">
      <app-bus-filter [busTypes]="busTypes" [stationList]="stationList" (busFilterChange)="filter($event)"></app-bus-filter>
      <app-bus-list (busListRemove)="deleteBus($event)" [busList]="busList"></app-bus-list>
      <app-pager (pagerChange)="changePage($event)" [totalPages]="totalPages"></app-pager>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <app-loading loadingText="Please wait, loading buses..."></app-loading>
</ng-template>
