/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
body, html { padding: 0; margin: 0; }

.flix-table__wrap {
  width: 100%;
  .flix-table {
    width: 100%;
  }
}

.selected-item {
  border-color:#73d700 !important;
  background-color: #73d700 !important;
}

.multiselect-item-checkbox input[type=checkbox] + div:before {
  color: #73d700 !important;
  border-color: #73d700 !important;
}
.multiselect-item-checkbox input[type=checkbox]:checked + div:before {
  background-color: #73d700 !important;
}
