<div class="flix-grid">
  <div class="flix-col-12 flix-col-4-md">
    <div class="flix-control">
      <div class="flix-select">
        <label class="flix-select__label flix-label" for="select-valid">Station</label>
        <ng-multiselect-dropdown
          [data]="stationList"
          [(ngModel)]="selectedStations"
          [settings]="stationListSettings"
          (onSelect)="emitFilterChange()"
          (onDeSelect)="emitFilterChange()"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>
  <div class="flix-col-12 flix-col-4-md">
    <div class="flix-control">
      <div class="flix-select">
        <label class="flix-select__label flix-label" for="select-valid">Bus Type</label>
        <ng-multiselect-dropdown
          [data]="busTypes"
          [(ngModel)]="selectedBusTypes"
          [settings]="busTypesSettings"
          (onSelect)="emitFilterChange()"
          (onDeSelect)="emitFilterChange()"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>
  <div class="flix-col-12 flix-col-4-md">
    <div class="flix-control">
      <div class="flix-input">
        <label class="flix-label flix-input__label" for="message">Bus Number</label>
        <input #input="ngModel" type="text" [(ngModel)]="busPlate" (ngModelChange)="onFieldChange($event)" id="message" class="flix-input__field" placeholder="Type the plate number" />
      </div>
    </div>
  </div>
</div>
