.form-bus {
  position: relative;
  .remove-btn {
    color: red;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: color .5s;
    cursor: pointer;
    &:hover {
      color: #c32d2d;
    }
  }

  .btn-add-bus {
    position: absolute;
    bottom: 6px;
    right: 24px;
  }
}
